<!-- навигация по home -->

<div class="nav-bar">
    <img id="logo" src="assets/kitapal_logo.png">
    <input type="text" [(ngModel)]="searchQuery" id="search" placeholder="Search">
    <button id="search-button" (click)="searchBooks()">
      <img src="assets/search-icon.webp">
      <p>Search</p>
    </button>
    <a id="cart" href="">
      <img id="cart-logo" src="assets/cart.png"><p>Cart</p>
    </a>
    <a href="" id="profile">
      <img id="profile-logo" src="assets/profile.png">
      <p *ngIf="loggedIn">Profile</p>
      <p *ngIf="loggedIn == false">Login</p>
    </a>
  </div>


  <div class="container">
    <div class="books-list">
      <div class="book" *ngFor="let book of books">
        <img [src]="book.thumbnail" alt="{{ book.title }}">
        <h3>{{ book.title }}</h3>
        <p *ngIf="book.authors.length > 0">By: {{ book.authors.join(', ') }}</p>
      </div>
      <div *ngIf="books.length === 0">No books found</div>
    </div>
  </div>


<div class="container">
  <div class="hero">
    <div class="hero-text">
      <h1>Read Unlimited Books on Kitap.Al</h1>
      <p>Book is cheap for blind mind and priceless for wise mind.</p>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Fiction books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of fictionBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Fantasy books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of fantasyBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Mystery books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of mysteryBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Adventure books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of adventureBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Romance books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of romanceBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Biography books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of biographyBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">History books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of historyBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Science books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of scienceBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Business books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of businessBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Computer books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of computersBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Cooking books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of cookingBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Health books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of healthBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Self Help books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of selfHelpBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title">Travel books</h2>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let book of travelBooks">
        <img [src]="book.thumbnail" [routerLink]="['/book/',book.id]" alt="Thumbnail">
      </div>
    </div>
  </div>
</div>
