<div class="nav-bar">
  <img id="logo" src="assets/kitapal_logo.png">
  <button id="catalog">
    <img id="hamburger" src="assets/Hamburger_icon.svg.png">
    <p>Catalog</p>
  </button>
  <input type="text" id="search" placeholder="Search">
  <button id="search-button">
    <img src="assets/search-icon.webp">
    <p>Search</p>
  </button>
  <a id="cart" href="">
    <img id="cart-logo" src="assets/cart.png"><p>Cart</p>
  </a>
  <a href="" id="profile">
    <img id="profile-logo" src="assets/profile.png">
    <p *ngIf="loggedIn">Profile</p>
    <p *ngIf="loggedIn == false">Login</p>
  </a>
</div>
