<!-- <div class="book-detail-container">
    <div class="book-cover" *ngIf="bookDetail">
      <img [src]="bookDetail.thumbnail" alt="Book Cover">
    </div>
    <div class="book-details" *ngIf="bookDetail">
      <h1>{{ bookDetail.title }}</h1>
      <p><strong>Authors:</strong> {{ bookDetail.authors.join(', ') }}</p>
      <p><strong>Publisher:</strong> {{ bookDetail.publisher }}</p>
      <p><strong>Published Date:</strong> {{ bookDetail.publishedDate }}</p>
      <p><strong>Page Count:</strong> {{ bookDetail.pageCount }}</p>
      <p><strong>Categories:</strong> {{ bookDetail.categories.join(', ') }}</p>
      <p><strong>Language:</strong> {{ bookDetail.language }}</p>
      <p>{{ bookDetail.description }}</p>
      <div class="book-links">
        <a [href]="bookDetail.previewLink" target="_blank">Preview</a>
        <a [href]="bookDetail.infoLink" target="_blank">More Info</a>
      </div>
    </div>
  </div>
   -->